

<html>
<head>
    <link href="./visionimg/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="./visionimg/shards.min.css" rel="stylesheet" type="text/css">
		<link href="./visionimg/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	  <h1 class="nav-brand">Vision</h1>
	</nav> 


	{{ $length := len .SubAlbum }} {{ if gt $length 0 }}
		<section id="subAlbum" >
			{{ range .SubAlbum}}{{$subName := .Name}}
				<div class="card" style="width:400px">
					<img class="card-img-top" src="./{{$subName}}/visionimg/thumb_{{(index .AlbumImages 0).Name}}" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">{{.Name}}</h4>
						<p class="card-text">{{.ImageCount}} Photos</p>
						<a href="./{{.Name}}/index.html" class="stretched-link"></a>
					</div>
				</div>
			{{end}}
		</section>
	{{end}}


	<section id="photos" >
		{{range .AlbumImages}}
				<a href=./{{.Name}}><img class="img" src="./visionimg/resize_{{.Name}}"/></a>
		{{end}}
	</section>


</body>

</html>
