

<html>
<head>
<link href="http://simbyone.com/demo/9-album-preview-animations-using-css-only/_css/Icomoon/style.css" rel="stylesheet" type="text/css" />
    <link href="http://simbyone.com/demo/9-album-preview-animations-using-css-only/_css/main.css" rel="stylesheet" type="text/css"/>
    <link href="http://simbyone.com/demo/9-album-preview-animations-using-css-only/_css/sim-prev-anim.css" rel="stylesheet" type="text/css" />
    <link href="./visionimg/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="./visionimg/shards.min.css" rel="stylesheet" type="text/css">
		<link href="./visionimg/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://simbyone.com/demo/9-album-preview-animations-using-css-only/_scripts/jquery-2.0.2.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	  <h1 class="nav-brand">Vision</h1>
	</nav> 

	{{ $length := len .SubAlbum }} {{ if gt $length 0 }}
		<div class="albums">
			<div class="albums-inner">
				{{ range .SubAlbum}}{{$subName := .Name}}
					<div class="albums-tab">
						<a href="./{{.Name}}/index.html">
						<div class="albums-tab-thumb sim-anim-7">
							{{range .AlbumImages}}
								<img src="./{{$subName}}/visionimg/thumb_{{.Name}}" class="all studio" />
							{{end}}
						</div>
						<div class="albums-tab-text">
							{{.Name}}
						</div>
						</a>
					</div>
				{{end}}
			</div>
		</div>
	{{ end }}

	<section id="photos" >
		{{range .AlbumImages}}
				<a href=./{{.Name}}><img class="img" src="./visionimg/resize_{{.Name}}"/></a>
		{{end}}
	</section>


</body>

</html>
