

<html>
<head>
    <link href="http://simbyone.com/demo/9-album-preview-animations-using-css-only/_css/Icomoon/style.css" rel="stylesheet" type="text/css" />
    <link href="http://simbyone.com/demo/9-album-preview-animations-using-css-only/_css/main.css" rel="stylesheet" type="text/css"/>
    <link href="http://simbyone.com/demo/9-album-preview-animations-using-css-only/_css/sim-prev-anim.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://simbyone.com/demo/9-album-preview-animations-using-css-only/_scripts/jquery-2.0.2.min.js"></script>
</head>
<body>
<style>
#header{
	background-color: #3f8dbf;
	float: left;
	width: 100%;
	height: 50px;
	color: rgba(255,255,255,1);
	line-height: 50px;
}
#header a {
	color: rgba(255,255,255,1);
	text-decoration: none;
	display: block;
	font-size: 15px;
}

#header-left{
	float: left;
	height: 50px;
}
#header-left:hover #header-left-icon{
	background-color: #3F8DBF;
	}
#header-left:hover #header-left-text{
	background-color: #599BC8;
	}
#header-left-icon{
	float: left;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #35759F;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-left-icon a {
	font-size: 25px;
}
#header-left-text{
	float: left;
	height: 50px;
		-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-left-text a {
	padding-left: 20px;
	padding-right: 20px;
}

#header-right{
	float: right;
	height: 50px;
}
#header-right:hover #header-right-icon{
	background-color: #3F8DBF;
	}
#header-right:hover #header-right-text{
	background-color: #599BC8;
	}
#header-right-icon{
	float: right;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #35759F;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-right-text{
	float: right;
	height: 50px;
    -webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-right-text a {
	padding-right: 20px;
	padding-left: 20px;
}

#polaroid-images a
{
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
        position:relative;
}
</style>

   
    <div id="header">
    {{if .ParentAlbum}}
        <div id="header-left">
            <div id="header-left-icon"><a href="../index.html"><span class="icon-caret-left"></span><span class="iconb" data-icon="&#xe0a0;"></span></a></div>
            <div id="header-left-text"><a href="../index.html">{{ .ParentAlbum }}</a></div>
        </div>
    {{end}}
    </div>

    <div class="albums">
    <div class="albums-inner">

    {{ range .SubAlbum}}{{$subName := .Name}}
        <div class="albums-tab">
            <a href="./{{.Name}}/index.html">
            <div class="albums-tab-thumb sim-anim-7">
                {{range .AlbumImages}}
                    <img src="./{{$subName}}/visionimg/thumb_{{.Name}}" class="all studio" />
                {{end}}
            </div>
            <div class="albums-tab-text">
                {{.Name}}
            </div>
            </a>
        </div>
    {{end}}
    </div>
    </div>

	{{ $length := len .SubAlbum }} {{ if gt $length 0 }}
    	<hr width="90%" size="5">
	{{ end }}
	
	<div class="polaroid-images">
		{{range .AlbumImages}}
						<img src="./visionimg/resize_{{.Name}}" class="all studio" />
		{{end}}
	</div>

</body>
</html>