
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
  font-size: 1.45em;
}

.nav-items {
	margin-top: 5px;

}
.logo a,
.nav-items a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
  display: block;
  color: white;
}

.nav-items a {
	font-size: .99em;
}

.nav-items a:hover {
	color: #718daa;
}



.appbar {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: black;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}


/* ==============
  Media Queries
============== */

@media (min-width: 769px) {
	.appbar,
	.nav-items {
		display: flex;
	}
	.appbar {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {
	.appbar {
		flex-direction: row;
		justify-content: space-between;
	}

}
