
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
  font-size: 1.45em;
}

.nav-items {
	margin-top: 5px;

}
.logo a,
.nav-items a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
  display: block;
  color: white;
}

.nav-items a {
	font-size: .99em;
}

.nav-items a:hover {
	color: #718daa;
}



.appbar {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: black;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}


/* ==============
  Media Queries
============== */

@media (min-width: 769px) {
	.appbar,
	.nav-items {
		display: flex;
	}
	.appbar {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {
	.appbar {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* 
.imagedropshadow {
    padding: 5px;
	border: solid 1px #EFEFEF;
	max-width:300px;
}
a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

.imagebox {
	padding: 10px;
} */

#photos {
	/* Prevent vertical gaps */
	line-height: 0;
	
	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;
	column-width: 350px;
	width: 90%;
    margin: 0 auto;
 }
 
 #photos img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
   /* max-width: 300px; */
 }
 
 @media (max-width: 1200px) {
   #photos {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
   }
 }
 @media (max-width: 1000px) {
   #photos {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
   }
 }
 @media (max-width: 800px) {
   #photos {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 400px) {
   #photos {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
   }
 }