h1, h2, h3, h4, h5, h6,
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.nav-brand {
	margin-left: 15px;
	color: white;
	letter-spacing: 0.8px;
	font-size: 28px;
}

.navbar {
	height: 80px;
	box-shadow: 0px 0px 5px black;
}

#subAlbum {
	/* Prevent vertical gaps */
	/* line-height: 0; */
	
	-webkit-column-count: 4;
	-webkit-column-gap:   5px;
	-moz-column-count:    5;
	-moz-column-gap:      5px;
	column-count:         5;
	column-gap:           5px;
	column-width: 400px;
	width: 100%;
	margin: 0 auto;

	padding-bottom: 10px;
	padding-top: 10px;

 }

/* Images Layout */
#photos {
	/* Prevent vertical gaps */
	line-height: 0;
	
	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;
	column-width: 350px;
	width: 90%;
    margin: 0 auto;
 }
 
 #photos img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
   /* max-width: 300px; */
 }
 
 @media (max-width: 1200px) {
   #photos {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
   }
 }
 @media (max-width: 1000px) {
   #photos {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
   }
 }
 @media (max-width: 800px) {
   #photos {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 400px) {
   #photos {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
   }
 }